<ion-header>
  <ion-toolbar color="black" class="ion-icon-toolbar">
        <ion-buttons slot="start">
            <!--ion-button routerLink="../admin-home"> 
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-back-button defaultHref="/admin-home"></ion-back-button-->
            <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Create New Match</ion-title>
    <ion-buttons slot="end">
       <ion-button>
          <ion-icon slot="end" src="../../assets/icon/logo.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
      
      <ion-item>
        <ion-label position="stacked">Home Team</ion-label>
         <ion-input
         [(ngModel)]="homeTeam"
          type="text">
        </ion-input>
      </ion-item>
    
   
      <ion-item>
        <ion-label position="stacked">Away Team</ion-label>
         <ion-input
         [(ngModel)]="awayTeam"
          type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">Match Date</ion-label>
        <ion-datetime   
          [(ngModel)]="matchDate"
          displayFormat="D MMM, YYYY HH:mm"
          pickerFormat="DD MMM YYYY HH:mm"
          >
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" >Team</ion-label>
         <ion-select [(ngModel)]="team">
            <ion-select-option value="1st XV">1st XV</ion-select-option>
            <ion-select-option value="2nd XV">2nd XV</ion-select-option>
            <ion-select-option value="Women's">Women's</ion-select-option>
            <ion-select-option value="U-18">U-18</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Competition</ion-label>
         <ion-input    
         [(ngModel)]="competition"
          type="text">
        </ion-input>
      </ion-item>    

       <ion-item>
        <ion-label position="stacked">Venue</ion-label>
         <ion-input
         [(ngModel)]="venue"
          type="text">
        </ion-input>
      </ion-item>
    
    <p align="right"><ion-text><sub>To add starting lineup, score or scorers please create the match and edit it afterwards</sub></ion-text></p>
   <ion-button
    color="black"
    expand="block"
    (click)="createMatch( homeTeam, awayTeam, matchDate, team, competition, venue)">
    Create Match
  </ion-button>
    
</ion-content>