
.delete-button-col
{
    text-align: right;
    ion-button{
        color: red;
        background-color: black;
    }
    
}


.edit-button-col
{
    text-align: right;
    ion-button{
        color: green;
        background-color: black;
    }
    
}

.team-col
{
    text-align: center;
}